.header_back {
    
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 0px;
    background: #e4e2e2;
    box-shadow: inset 30px 30px 93px #a6a5a5,
            inset -30px -30px 93px #ffffff;
        
  }